.app {
    background-image: url('../clima.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid white;
    border-top-color: transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}